*.svn

obj/
bin/
build/
!data/

# mac Finder index files
.DS_Store

# mac apps
*.app/

# xcode user project files
*.xcscheme
*.xcsettings
*.xcworkspacedata
*.xcworkspace
*.xcuserdatad

# codeblocks project files
*.depend
*.layout

# visual studio project files
*.vcxproj.user
*.suo
*.sdf